flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"48ae3d02.1c1e34","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["446c3ce5.a8e5f4"]]},{"id":"7eb4b3f0.7317cc","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":500,"y":100,"wires":[]},{"id":"446c3ce5.a8e5f4","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":100,"wires":[["7eb4b3f0.7317cc"]]}]