flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7897bac5.a04344","type":"tab","label":"Flow Test","disabled":false,"info":""},{"id":"48ae3d02.1c1e34","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":170,"y":110,"wires":[["446c3ce5.a8e5f4"]]},{"id":"7eb4b3f0.7317cc","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":500,"y":100,"wires":[]},{"id":"446c3ce5.a8e5f4","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":100,"wires":[["7eb4b3f0.7317cc"]]},{"id":"28146d38.503fd2","type":"inject","z":"7897bac5.a04344","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["25881b9.0d2b1e4"]]},{"id":"2fceb39b.7f97dc","type":"function","z":"7897bac5.a04344","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[[]]},{"id":"25881b9.0d2b1e4","type":"delay","z":"7897bac5.a04344","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":240,"wires":[["2fceb39b.7f97dc"]]}]
