flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7897bac5.a04344","type":"tab","label":"Flow Test","disabled":false,"info":""},{"id":"a2f3b666.46c458","type":"mqtt-broker","z":"","name":"myBrokerConfig","broker":"mqttBroker","port":"8883","tls":"4b250d9b.edf784","clientid":"nodered","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4b250d9b.edf784","type":"tls-config","z":"","name":"myTLSconfig","cert":"","key":"","ca":"/mosquitto/certs/mqtt_ca.crt","certname":"","keyname":"","caname":"","servername":"mqttBroker","verifyservercert":true},{"id":"48ae3d02.1c1e34","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":170,"y":110,"wires":[["446c3ce5.a8e5f4"]]},{"id":"7eb4b3f0.7317cc","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":530,"y":140,"wires":[]},{"id":"446c3ce5.a8e5f4","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["7eb4b3f0.7317cc"]]},{"id":"28146d38.503fd2","type":"inject","z":"7897bac5.a04344","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":180,"wires":[["25881b9.0d2b1e4"]]},{"id":"2fceb39b.7f97dc","type":"function","z":"7897bac5.a04344","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[[]]},{"id":"25881b9.0d2b1e4","type":"delay","z":"7897bac5.a04344","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":180,"wires":[["2fceb39b.7f97dc"]]},{"id":"62e92d28.281404","type":"inject","z":"3af82246.3634ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"${WWW}","payloadType":"str","x":160,"y":320,"wires":[["46a0cd68.b07a34"]]},{"id":"46a0cd68.b07a34","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":320,"wires":[]},{"id":"7e79fd2f.dfea54","type":"mqtt in","z":"3af82246.3634ae","name":"","topic":"#","qos":"2","datatype":"json","broker":"a2f3b666.46c458","x":310,"y":600,"wires":[["654f68a0.c1b5d8"]]},{"id":"654f68a0.c1b5d8","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":600,"wires":[]},{"id":"7d9586cd.c8a7f8","type":"inject","z":"3af82246.3634ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":330,"y":480,"wires":[["a7db097e.5bfbb8"]]},{"id":"a7db097e.5bfbb8","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":500,"wires":[["7baa1944.4e4dd8"]]},{"id":"7baa1944.4e4dd8","type":"mqtt out","z":"3af82246.3634ae","name":"","topic":"time","qos":"","retain":"","broker":"a2f3b666.46c458","x":630,"y":520,"wires":[]}]